.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
    .search {
        flex: 0 0 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        @media only screen and (max-width: $bp-smallest) {
            order: 1;
            flex: 0 0 100%;
        }
    }
    .user-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
    }
}