.overview {
    display: flex;
    align-items: center;

    border-bottom: var(--line);
    overflow: auto;
    
    &__heading {

        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-medium) {
            padding: 1.25rem 2rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 2rem 2rem;
            font-size: 1.5rem;
        }
    }

    &__stars {
        // flex: 1;
        margin-right: auto;
        // Remove space under the stars
        display: flex;

        @media only screen and (max-width: $bp-smallest) {
            margin-right: 1.5rem;
        }
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        display: flex;
        align-items: center;

    }

    &__icon-location {
        margin-right: .3rem;
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: #fff;
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bp-medium) {
            padding: 0 1.5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            display: flex;
            align-items: center;
            justify-content: center;

            flex-direction: row;
            margin-left: auto;
            &-average {

                border-right: var(--line);

                padding: 1rem;

            }

            &-count {

                padding: 1rem;

                font-size: 1rem !important;
            }

        }
    }

    &__rating-average {
        margin-bottom: -3px;



    }

    &__rating-count {

        text-transform: uppercase;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.5em;
        }
    }

}