.search {

    &__input {
        width: 90%;
        margin-right: -3.25rem;
        padding: .7rem 2rem;
        transition: all .2s;

        &:focus~.search__suggestions {
            visibility: visible;
            opacity: 1;
        }

    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }

    &__suggestions {

        width: 95%;
        height: 30rem;

        border: .2px solid rgba(0, 0, 0, .2);
        border-top: none;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
        background-color: #fff;


        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;

        z-index: 999;
        overflow-y: scroll;
        transition: all .2s;

        // Positioning in the center of the search bar
        padding: 1rem;
        left: 51%;
        transform: translate(-50%, 0);



        @media only screen and (max-width: $bp-smallest) {
            width: 80%;
        }
    }


}