.user-nav {

    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &>*:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
        outline: none;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }


    &__notification {
        height: 1.75rem;
        width: 1.75rem;

        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .1s;
    }

    &__icon-box:hover &__notification {
        transform: scale(1.1);
    }

    &__user-photo {
        height: 5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__popup {
        min-width: 30rem;
        max-height: 30rem;

        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

        overflow-y: scroll;
        z-index: 999;

        transition: all .2s;
    }

    &__icon-box-bookmark {

        &:hover .user-nav__popup-bookmark,
        &:active~.user_nav__popup-bookmark {
            opacity: 1;
            visibility: visible;
        }
    }

    &__icon-box-messages {

        &:hover .user-nav__popup-messages,
        &:active~.user_nav__popup-bookmark {
            opacity: 1;
            visibility: visible;
        }
    }

    &__user {
        position: relative;
        outline: none;
        &:hover &-menu {
            visibility: visible;
            opacity: 1;
        }

        &__nav-icon {
            z-index: 200;
        }

        &-menu {
            opacity: 0;
            visibility: hidden;
            z-index: 999;
            min-width: 18rem;

            background-color: #fff;
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
            border: .2px solid rgba(0, 0, 0, 0.3);
            border-top: none;
            
            position: absolute;
            top: 102%;
            right: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &--item {

                display: flex;
                padding-left: 1rem;

                height: 5rem;
                align-items: center;


                &:not(:last-child) {
                    border-bottom: var(--line);
                    padding-bottom: .8rem;
                }

                &:hover {
                    background-color: var(--color-grey-light-2);
                }

                &-link {
                    text-decoration: none;

                    color: inherit;
                    display: flex;

                    &:not(:last-child) {
                        border-bottom: var(--line);
                    }
                }
            }

            &-icon {
                width: 1.5rem;
                height: 2.3em;
                background-size: cover;

                fill: var(--color-grey-dark-3);
                margin-right: 1rem;
                display: flex;
            }


        }
    }
}